# FDA_hw3

## Logistic Regression

In [37]:
import matplotlib.pyplot as plt
from sklearn import linear_model, metrics, model_selection
import numpy as np
import pandas as pd
%matplotlib inline

In [43]:
train = pd.read_csv('training.csv')
test = pd.read_csv('test.csv')
train.head(10)

          Date  Open Price  Close Price  High Price  Low Price      Volume
0  02-Jan-2009      902.99       931.80      934.73     899.35  4048270080
1  05-Jan-2009      929.17       927.45      936.63     919.53  5413910016
2  06-Jan-2009      931.17       934.70      943.85     927.28  5392620032
3  07-Jan-2009      927.45       906.65      927.45     902.37  4704940032
4  08-Jan-2009      905.73       909.73      910.00     896.81  4991549952
5  09-Jan-2009      909.91       890.35      911.93     888.31  4716499968
6  12-Jan-2009      890.40       870.26      890.40     864.32  4725049856
7  13-Jan-2009      869.79       871.79      877.02     862.02  5017469952
8  14-Jan-2009      867.28       842.62      867.28     836.93  5407880192
9  15-Jan-2009      841.99       843.74      851.59     817.04  7807350272

In [48]:
xx = 0
def f(x):
    global xx
    if x > xx:
        xx = x
        return 1
    xx = x
    return 0

train['Increase'] = train['Low Price'].apply(f)
test['Increase'] = test['Low Price'].apply(f)
train.head(10)

,Date,Open Price,Close Price,High Price,Low Price,Volume,Increase
0,02-Jan-2009,902.99,931.80,934.73,899.35,4048270080,1
1,05-Jan-2009,929.17,927.45,936.63,919.53,5413910016,1
2,06-Jan-2009,931.17,934.70,943.85,927.28,5392620032,1
3,07-Jan-2009,927.45,906.65,927.45,902.37,4704940032,0
4,08-Jan-2009,905.73,909.73,910.00,896.81,4991549952,0
5,09-Jan-2009,909.91,890.35,911.93,888.31,4716499968,0
6,12-Jan-2009,890.40,870.26,890.40,864.32,4725049856,0
7,13-Jan-2009,869.79,871.79,877.02,862.02,5017469952,0
8,14-Jan-2009,867.28,842.62,867.28,836.93,5407880192,0
9,15-Jan-2009,841.99,843.74,851.59,817.04,7807350272,0

In [49]:
train = train.drop(['Date'], axis=1)
test = test.drop(['Date'], axis=1)

In [57]:
col = 'Increase'
x_train = train.loc[:, train.columns != col]
y_train = train[col]
x_test = test.loc[:, test.columns != col]
y_test = test[col]
x_test.head(100)

    Open Price  Close Price  High Price  Low Price      Volume
0      2683.73      2695.81     2695.89    2682.36  1846463232
1      2697.85      2713.06     2714.37    2697.77  2090595328
2      2719.31      2723.99     2729.29    2719.07  2100767744
3      2731.33      2743.15     2743.45    2727.92  1918869120
4      2742.67      2747.71     2748.51    2737.60  1894823936
5      2751.15      2751.29     2759.14    2747.86  1957263872
6      2745.55      2748.23     2750.80    2736.06  2048867328
7      2752.97      2767.56     2767.56    2752.78  1978592384
8      2770.18      2786.24     2787.85    2769.64  2108422912
9      2798.96      2776.42     2807.54    2768.64  2532135680
10     2784.99      2802.56     2807.04    2778.38  2358957312
11     2802.40      2798.03     2805.83    2792.56  2208384000
12     2802.60      2810.30     2810.33    2798.08  2374764288
13     2809.16      2832.97     2833.03    2808.12  2088180864
14     2835.05      2839.13     2842.24    2830.59  2149982976
15     2845.42      2837.54     2852.97    2824.81  2391178240
16     2846.24      2839.25     2848.56    2830.94  2290282496
17     2847.48      2872.87     2872.87    2846.18  2159136256
18     2867.23      2853.53     2870.62    2851.48  2086406528
19     2832.74      2822.43     2837.75    2818.27  2339843584
20     2832.41      2823.81     2839.26    2813.04  2649383424
21     2816.45      2821.98     2835.96    2812.70  2406066688
22     2808.92      2762.13     2808.92    2759.97  2629697792
23     2741.06      2648.94     2763.39    2638.17  3388212992
24     2614.78      2695.14     2701.04    2593.07  3851964160
25     2690.95      2681.66     2727.67    2681.33  2753322240
26     2685.01      2581.00     2685.27    2580.56  3171145728
27     2601.78      2619.55     2638.67    2532.69  3614218240
28     2636.75      2656.00     2672.61    2622.45  2572994048
29     2646.27      2662.94     2668.84    2637.08  2006957184
..         ...          ...         ...        ...         ...
70     2676.90      2656.30     2680.26    2645.05  1797291136
71     2670.10      2677.84     2686.49    2665.16  1842305536
72     2692.74      2706.39     2713.34    2692.05  1919667200
73     2710.11      2708.64     2717.49    2703.63  1986302592
74     2701.16      2693.13     2702.84    2681.90  2142193024
75     2692.56      2670.14     2693.94    2660.61  2279168256
76     2675.40      2670.29     2682.86    2657.99  1830935040
77     2680.80      2634.56     2683.55    2617.32  2358410752
78     2634.92      2639.40     2645.30    2612.67  2131949056
79     2651.65      2666.94     2676.48    2647.16  2340543232
80     2675.47      2669.91     2677.35    2659.01  2032982912
81     2675.05      2648.05     2682.92    2648.04  2235965696
82     2643.64      2654.80     2655.27    2625.41  2101716480
83     2654.24      2635.67     2660.87    2631.70  2286611200
84     2628.08      2629.73     2637.14    2594.62  2341679872
85     2621.45      2663.42     2670.93    2615.32  1892147456
86     2669.36      2672.63     2683.35    2664.70  1866427776
87     2670.26      2671.92     2676.34    2655.20  2059159168
88     2678.12      2697.79     2701.27    2674.14  2036061056
89     2705.02      2723.07     2726.11    2704.54  1767556224
90     2722.70      2727.72     2732.86    2717.45  1726833664
91     2733.37      2730.13     2742.10    2725.47  1776892544
92     2718.59      2711.45     2718.59    2701.91  1907316992
93     2712.62      2722.46     2727.76    2712.17  1777257600
94     2719.71      2720.13     2731.96    2711.36  1897528576
95     2717.35      2712.97     2719.50    2709.18  1963173632
96     2725.95      2733.01     2739.19    2725.70  1817499776
97     2738.34      2724.44     2742.24    2721.88  1990404480
98     2713.98      2733.29     2733.33    2709.54  2043427328
99     2730.94      2727.76     2731.97    2707.38  1925873152

[100 rows x 5 columns]

In [58]:
def evaluate(model, x_train, y_train, x_test, y_test):
    train_preds = model.predict(x_train)
    test_preds = model.predict(x_test)
    train_acc = metrics.accuracy_score(y_train, train_preds)
    test_acc = metrics.accuracy_score(y_test, test_preds)
    print('Train accuracy: %s' % train_acc)
    print('Test accuracy: %s' % test_acc)

In [59]:
model_bl = linear_model.SGDClassifier(loss='log', max_iter=10000)
model_bl.fit(x_train, y_train)
evaluate(model_bl, x_train, y_train, x_test, y_test)

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/stochastic_gradient.py:183: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If max_iter is set but tol is left unset, the default value for tol in 0.19 and 0.20 will be None (which is equivalent to -infinity, so it has no effect) but will change in 0.21 to 1e-3. Specify tol to silence this warning.
  FutureWarning)

Train accuracy: 0.4178445229681979
Test accuracy: 0.47619047619047616

In [60]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression().fit(x_train, y_train)
evaluate(clf, x_train, y_train, x_test, y_test)

Train accuracy: 0.5821554770318021
Test accuracy: 0.5238095238095238

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

## SVM

In [ ]:
from sklearn import datasets

## Neural Network

In [ ]:
from keras import models, layers, optimizers, regularizers
import random
from sklearn import preprocessing
import tensorflow as tf
from tqdm import tqdm

## Discussion

### How did you preprocess this dataset ?


### Which classifier reaches the highest classification accuracy in this dataset ?


#### Why ?


#### Can this result remain if the dataset is different ?


### How did you improve your classifiers ?